svg {
  border:1px solid gray;
  /* border-radius:10px; */
  height:100%;
  width:100%;
  margin:5px;
  margin-top: 10px;
}

#spotify-barchart {
  margin-top: -20px;
  /* margin: auto; */
  display: block;
}

.resizedTextbox {
  width: 150px;
}

/* .wrapper {
  margin:auto;
  width:1440px;
} */
input {
  width:50px;
}

html {
  font-family: 'Trebuchet MS', sans-serif;
}

h2, h3 {
  text-align:center;
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: .5rem;
  background: #FFFFFF;
  color: #313639;
  border: 1px solid #313639;
  border-radius: 8px;
  pointer-events: none;
  font-size: 12pt;
}

.highlighted-rect{
  stroke: black !important;
  stroke-width: 4px;
  fill-opacity: 0.7 !important;
}

rect {
  fill: #1ED760;
  stroke: #313639;
  stroke-width: 1px;
}
/* Axis labels by default are serif font. 
 Try commenting this out and see how it updates. */
.axis-label {
  font-size:1.2em;
  font-family:sans-serif;
  fill:gray;
}
.title {
  font-family:sans-serif;
  font-size:1.6em;
  fill:gray;
}

.tick line {
  stroke: lightgray;
}
.tick text {
  fill: gray;
} 
